<div class="col-md-6 offset-3">
  <div class="title">
    <h1>Blog</h1>
  </div>
</div>
<!--div class="spinner">
  <mat-spinner></mat-spinner>
</div-->
<div class="container">
  <div class="row">
    <div class="col-md-12 flex-box">
      <div class="card card-size" *ngFor="let doc of docsArray" (click)="navigateToDetailView(doc)">
        <img class="card-img"
             src="{{doc.data().imgId}}"
             alt="Bologna">
        <div class="card-body">
          <h4 class="card-title" [innerHTML]="doc.data().title"></h4>
          <small class="text-muted cat">
            <i class="far fa-clock text-info"></i>
            <i class="fas fa-users text-info"></i>
          </small>
          <p class="card-text" [innerHTML]="doc.data().description"></p>
        </div>
        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
          <div class="views" [innerHTML]="doc.data().date">
          </div>
          <div id="like_button">
            <p style="float: left">{{doc.data().count}}</p>
            <button mat-icon-button (click)="like($event, doc)">
              <mat-icon>favorite</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row float-right">
    <button routerLink="/create-post" class="btn btn-info">Add post</button>
  </div>
</div>
